* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: whitesmoke;
  }

  .heading {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .border-5 {
    border-width: 0.45rem !important;
  }